/*General Styling*/

.tabs .tab a {
  color: purple;
}
.tabs .tab a:hover {
  color: #8765d0;
}


h1, div.col.l6.s12, p.grey-text.text-lighten-4, .footer-copyright {
    text-align: center;
}

div.col.s12 {
    margin-top: 50px;
}

.col.l6.s12.footer-content {
  margin: 0 25%;
}


/*Home Tab Styling*/

.parallax img {
    display: inline;
}

.parallax-container {
    height: 850px;
}

h1.header.center.white-text {
    margin: 18.1rem 0 1.68rem 0;
}

p {
    text-align: justify;
    ;
    text-justify: inter-word;
}


/*Manu Tab Styling*/

.btn-floating {
    top: -20px;
    left: 10px;
}

.yourOrder,
.yourOrder:hover,
.yourOrder:active {
    width: 39%;
    margin: 0 31%;
    background-color: purple
}


/*Order Tab Styling*/

form {
    height: 525px;
}

/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label,
   .input-field input[type=datetime-local]:focus + label,
   .input-field input[type=tel]:focus + label {
     color: purple;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus,
   .input-field input[type=datetime-local]:focus,
   .input-field input[type=tel]:focus {
     border-bottom: 1px solid purple;
     box-shadow: 0 1px 0 0 purple;
   }
   /* valid color */
   .input-field input[type=text].valid,
   .input-field input[type=datetime-local].valid,
   .input-field input[type=tel].valid {
     border-bottom: 1px solid purple;
     box-shadow: 0 1px 0 0 purple;
   }
   /* invalid color */
   .input-field input[type=text].invalid,
   .input-field input[type=datetime-local].invalid,
   .input-field input[type=tel].invalid {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: purple;
   }


table.striped.orderlist {
    margin-top: 50px;
    margin-bottom: 50px;
}

.orderlist th:nth-child(3n), .orderlist td:nth-child(3n), .pricetotal td {
    text-align: right;
}

.submitOrder,
.submitOrder:hover,
.submitOrder:active {
    width: 39%;
    margin: 0 31%;
    background-color: purple
}

.modal-content h4,
.modal-content p {
  text-align: center;
}
